@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Kalam&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

body {
    background: radial-gradient(#ffff,#2774C4);
}

.container {
    overflow: auto
}

.cards {
    overflow: auto;
    min-height: 550px;
}

.card {
    background: radial-gradient(#2774C4,#264462);
    min-width: 300px;
    height: 380px;
    border-radius: 10px;
    box-shadow: -5px 5px 25px #0000009d;
    padding: 20px;
    border: none;
    transition: all .3s ease-in-out
}

.card .text-grey {
    color: #ccc;
    font-weight: 500
}

.card .light-grey {
    color: #aaa;
    font-weight: 300
}

.card .fs-5 {
    font-size: 1.15rem !important
}

.card a {
    color: #fff;
    text-decoration: none
}

.card .profile img {
    width: 60px;
    height: 60px;
    box-shadow: 0 5px 15px rgba(26, 25, 25, 0.329);
    object-fit: cover;
    border-radius: 50%
}

.card:not(:first-child) {
    margin-left: -8rem
}

.cards::-webkit-scrollbar {
    height: 10px
}

.cards::-webkit-scrollbar-track {
    background: inherit
}

.cards::-webkit-scrollbar-thumb {
    background-color: #3a3a3a;
    background: linear-gradient(to right, #ff002b, #002fff);
    border-radius: 10px
}

.card:hover,
.card:focus-within {
    transform: translateY(-1rem) rotateZ(5deg)
}

.card:hover~.card,
.card:focus-within~.card {
    transform: translateX(8rem)
}

.card .designation {
    display: inline;
    border-radius: 10px;
    padding: 4px 10px;
    border: 1px solid #ddd
}

.white{
  color: white;
}
.padding {
    padding: 3rem
}

.add_course {
    background: radial-gradient(#2774C4,#264462);
    padding: 30px 50px;
    color: #DFE7FF;
    font-size: 15px;
    border-radius: 10px;
    box-shadow: -5px 5px 25px #0000009d;
}

.heading {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff
}

.add_course .form-control {
    border: 2px solid #708598;
    background: #DFE7FF;
    color: #fff
}

.form-control {
    height: 43px;
    border-radius: 0
}

.add_course .form-control:focus {
    border: 2px solid #264462
}

.pagination{
  float: right;
  margin-top: 10px;
}

/* Media query for 600 screen size */
@media only screen and (max-width: 600px){
.card:not(:first-child) {
    margin-left: -10rem;
}
.add_course {
    padding: 15px 15px;
}
.container-fluid{
  padding-left: 0px !important;
  padding-right: 0px !important;
}
}

/* Media query for 800 screen size */
@media only screen and (max-width: 800px){
.card:not(:first-child) {
    margin-left: -12rem;
}
.add_course {
    padding: 15px 15px;
}
.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
}

/* Media query for 1000 screen size */
@media only screen and (max-width: 1000px){
.card:not(:first-child) {
    margin-left: -12rem;
}
.add_course {
    padding: 10px 10px;
}
.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
}
