.button-image{
  position:relative;
  padding-top: 20px;
}

.button-image .btn{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: none;
}

.button-image img{
  height: 200px;
  width: 200px;
}

.button-image .btn:hover{
  background-color: white;
  color: #264462;
}

.img-circle{
  border-radius: 50%;
}

td, th{
  color: white;
}

table{
  background: radial-gradient(#2774C4,#264462);
  box-shadow: -5px 5px 25px #0000009d;
  width: 100%;
  border-collapse: collapse;
}

.info, .info td{
  display: block;
  border-style: none !important;
}

.std_info{
  color: yellow;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.std_info:hover {
    color: lightblue;
    text-decoration: none;
    cursor: pointer;
}

.modal-header{
  background: radial-gradient(#2774C4,#264462);
  color: white;
}

.modal-body, .modal-footer{
  background: #F7F6FB;
}

.close{
  padding-left: 2px;
  padding-right: 2px;
}

.line{
  display: none;
}

/* Media query for 600 screen size */
@media only screen and (max-width: 600px){
  table, thead, tbody, th, td, tr {
    display: block;
  }
  td {
    border-style: none !important;
  }
  th {
    border-style: solid !important;
  }
  .line{
    display: block;
  }
  .table-headings{
    display: none;
  }
  .t-center{
    text-align: center;
  }
}
