*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Helvetica', sans-serif;
    background: radial-gradient(#ffff,#2774C4);
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


.row .col-6{
    position: relative;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 5px 0;
    position: relative;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 10px 0;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #CDF5ED;

}

.copyright{
    text-align: center;
    bottom:0;
}

input:focus{
    outline: none;
}

/* Media query for 600 screen size */
@media only screen and (max-width: 600px){

    .row{
        text-align: center;
    }
    .col-2, .col-6{
        flex-basis: 100%;
        padding: 10px
    }
}
